---
import Section from "./Section.astro";
---

<Section title="Disfrute de Tesla" subtitle="Programe una prueba de conduccion hoy mismo" color="white">
  <video slot="background"  src="/video.webm" autoplay loop class="object-cover h-full w-full" />  
  <div slot="footer">
    <a
      href="#"
      class="border-2 border-white rounded font-medium px-6 py-2 bg-white/5 backdrop-blur-md hover:bg-white hover:text-gray-900 transition-colors"
    >
      Prueba de conduccion
    </a>
  </div>
</Section> 
